body{
    display: grid;
    grid-template-columns: repeat(7,100px);
    grid-template-rows: repeat(6,100px);
    place-content: center;
    gap: 5px;
}


div{
    background-color: yellowgreen;
}


.kutular1{
    grid-row: 1;
    grid-column: 4;
    background-color: #92000a;
}

.kutu1{
    grid-row: 2;
    grid-column: 5;
    background-color: #ffd700;
}

.kutu2{
    grid-row: 2;
    grid-column: 4;
    background-color: #ffd700;

}

.kutu3{
    grid-row: 2;
    grid-column: 3;
    background-color: #ffd700;
}

.kutu4{
    grid-row: 3;
    grid-column: 6;
    background-color: #ffd700;
}

.kutu5{
    grid-row: 3;
    grid-column: 5;
    background-color: #ffd700;
}

.kutu6{
    grid-row: 3;
    grid-column: 4;
    background-color: #ffd700;
}

.kutu7{
    grid-row: 3;
    grid-column: 3;
    background-color: #ffd700;
}

.kutu8{
    grid-row: 3;
    grid-column: 2;
    background-color: #ffd700;
}

.kutu9{
    grid-row: 4;
    grid-column: 7;
    background-color: #ffd700;
}

.kutu10{
    grid-row: 4;
    grid-column: 6;
    background-color: #ffd700;
}

.kutu11{
    grid-row: 4;
    grid-column: 5;
    background-color: #ffd700;
}

.kutu12{
    grid-row: 4;
    grid-column: 4;
    background-color: #ffd700;
}

.kutu13{
    grid-row: 4;
    grid-column: 3;
    background-color: #ffd700;
}

.kutu14{
    grid-row: 4;
    grid-column: 2;
    background-color: #ffd700;
}

.kutu15{
    grid-row: 4;
    grid-column: 1;
    background-color: #ffd700;
}

.kutu16{
    grid-row: 5;
    grid-column: 6;
    background-color: #4e3133;
}

.kutu17{
    grid-row: 5;
    grid-column: 5;
    background-color: #ffd700;
}

.kutu18{
    grid-row: 5;
    grid-column: 4;
    background-color: #4e3133;
}

.kutu19{
    grid-row: 5;
    grid-column: 3;
    background-color: #ffd700;
}

.kutu20{
    grid-row: 5;
    grid-column: 2;
    background-color: #4e3133;
}

.kutu21{
    grid-row: 6;
    grid-column: 5;
    background-color: #4e3133;
}

.kutu22{
    grid-row: 6;
    grid-column: 4;
    background-color: #4e3133;
}

.kutu23{
    grid-row: 6;
    grid-column: 3;
    background-color: #4e3133;
}


